.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.signup{
width: 100vw;
margin:auto;

margin-top:20px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(134, 100, 100, 0.15);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.2);
  height:33rem;
 width:70rem;
gap:-1rem;
  /* padding:7px; */
  
}
input[type="file"] {
  width: 12rem;
}
select, option {
  width: 12rem;
}

input:last-of-type::file-selector-button {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.containery{
  
  height:30rem;
 width:67rem;
  /* padding:7px; */
 
  
}
.signup-content{
  display: flex;
  flex-direction: column;
  align-items: center;


  }
  .form-group{
margin:0.1rem;

  }
  #register-form input{
   margin:0.1rem;
   background: transparent;
   /* border: none; */
   border-bottom: 1px solid #000000;
   
  }
  #signup{
    background-color: blue;
    margin-left:0.2rem !important;
    margin-right:0.2px !important;
    border-radius: 10px;
  }
 
  input[type="submit"] 
  {
     border:2px solid black !important; 
     background-color: blue !important;
     margin-top:0.3rem !important;
     cursor:pointer;
     
  }
  .ftitle{
    text-align: center;
    /* margin-top:-30px;  */
     margin-bottom:0.4rem;
  }
  .ftitley{
    text-align: center;
    /* margin-top:-30px; */
    margin-bottom:1rem;
  }
  
  .signup-image{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:49rem;
    height:33rem;
    padding:0;
    margin-left:-1rem;
  }
  .signup-imagey{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:45rem;
    height:30rem;
    padding:0;
  }
  .im{
    width:50rem;
    height:60rem !important;
  }
  .imy{
    width:52rem;
    height:50rem !important;
  }
  #register-form{
    display: flex;
    flex-direction: column;
  }
 
  .form-group{
    margin-left:-0.8rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .form-groupy{
    display:flex;
    column-gap: 40px;
  }
  .form-groupe{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin:0.7rem;

  }
  .signup-link{
    margin-top: 10px;
  }
  #lab2{
    display: flex;
  }
  #lab2l{
    display: flex;
  }
  #signin{
    background-color: blue;
    border-radius: 10px;
    margin-left: 15px !important;
  }
  .eprof{
   display:flex;
   align-items:center;
   justify-content: center;
   
   margin:auto;
   margin-top: 60px;
   background: rgba(134, 100, 100, 0.15);

   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.2);
width:44vw;

  }

  #row{
    display:grid;
    grid-template-columns: 2fr 2fr 1fr;
  
    
    gap: 0px;padding:10px;
  }
  #row2{
  display:grid;
  grid-template-columns: 4.2fr 4fr;
  gap: 10px;padding:5px;
padding-left:25px;
  }
  #rowp{
    display: grid;
    grid-template-columns: 2.5fr 2fr;
  }
.col3{
  display:flex;
  margin-left:-1rem;
  
}
.col2{
  margin-left:0rem;
  
}
.delbtn{
  height:2.2rem;
  
  color:white;
background-color: blue;
width:3.6rem;
border:1px solid white;
border-radius: 7px;
}
  .peditbtn{
color:white;
background-color: blue;
text-decoration: none;
padding:0px;
border:1px solid white;
border-radius: 7px;

width:6rem;
margin-left:0.2rem;
height:2.2rem;
  }
  .peditbtnim{
    color:white;
    background-color: blue;
    text-decoration: none;
    padding:0px;
    border:1px solid white;
    border-radius: 7px;
    
    width:6rem;
    margin-left:0.2rem;
    height:2.2rem;
      }
      .peditbtnim:hover{
        background-color: white;
        border-color: blue;
        color:blue;
         }
  .peditbtn:hover{
 background-color: white;
 border-color: blue;
 color:blue;
  }
  .delbtn:hover{
    background-color: white;
    border-color: blue;
    color:blue;
     }
  #signin{
    color:white;
    width:6rem;
    margin-left: 3rem !important;
  }
  
  .form-groupeu{

    display: flex;
    margin-left:3rem;
  }
  .form-submit:hover{
    background-color: white !important;
    color:blue !important;
    border-color:blue !important;
  }
  #signup{
    color:white;
  }

  #nf{
position: relative;
height:100vh;
  }
  #nf .nf{
position:absolute;
left:50%;
top:50%;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform:translate(-50%,-50%);

  }
  .nf{
  max-width:900px;
  width:100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

  }
  .nf .nf-1{
   position: absolute;
   height:100px;
   top:0;
   left:50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform:translate(-50%);
    z-index:-1;


  }

  .nf .nf-1 h1{
  color:#ececec;
  font-weight: 900;
font-size: 270px;
margin:0px;
position: absolute;
top:50%;
left:50%;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform:translate(-50%,-50%);
  }
  .nf h2{
font-size: 40px;
color:black;
font-weight: 800;
text-transform: uppercase;
margin:0px;
  }

  .nf p{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
color:black;
font-weight: 300;
text-transform: uppercase;
margin-top: 15px;

  }
  .nf a{
   font-family:"Maven Pro",sans-serif;
   font-size:12px;
    text-decoration: none;
   text-transform: uppercase;
   background: rgb(45, 196, 176);
display: inline-block;
padding:15px 30px;
border:2px solid transparent;
border-radius: 30px;
color:white;
font-weight: 400;
-webkit-transition:0.2s all;
transition: 0.2s all;
  }
  .nf a:hover{
background-color: #fff;
border-color: rgb(45, 196, 176) ;
color:rgb(45, 196, 176)
  }
  
#ldate{

  width:190px;
}
.home-page {

  height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('./images/bloodhome.jpg');

      background-size: cover;
      
}

.hsection {
  
    background-color: rgba(0, 0, 0, 0.518);
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  transition: transform .2s; 
}
.hsection:hover{
  transform: scale(1.13);
  box-shadow: 7px 7px 5px 4px lightblue;
  
}
.home-page:hover:before{
opacity: 0.2;


      
}

.hcontent {
  text-align: center;
  
}

.hcontent h1 {
  
  font-size: 36px;
  color: #FFF;
  margin-bottom: 20px;
}

.hcontent p {
  font-size: 18px;
  color: #FFF;
  margin-bottom: 20px;
}

.donate-button {
  padding: 7px 10px;
  font-size: 18px;
  background-color: #FF5C5C;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.donate-button:hover {
  background-color: #FF3D3D;
  color:black;
}
.hm{
  top:0;
  width:100%;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:auto;
 
  

}

 .hm img{
position: absolute;
height: 100%;
width: 100%;
top:0;
bottom: 0;

opacity:0.6;
  }
  .homecontent{
   width:100%;
   
   padding:8rem 1.5rem 3rem;
 display: flex;
row-gap: 3rem;
flex-direction: column;

justify-content:center;
margin:auto;
color:black;
z-index: 10;
  }
.textDiv{
padding:2rem 0;
margin:auto;
}
.smallText{
  font-size:22px ;
  text-transform: uppercase;
}
.homeTitle{
position: relative;
font-size:40px;
}
.cardDiv{
position: relative;
padding:2rem 3rem;
gap:1rem;
display:flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}
.dinp label{

display:block;
padding-bottom: 0.7rem;
font-size:1.3rem ; 
font-weight: 400; 
}
.input{

  height:3rem;
 

}
.input input {
  border-radius: 10px;
padding-left:4px;
width:15rem;
}

.searchOptions{
display:flex;
justify-content: center;

}
.sub{
  
  width:100px;
  color:white;
  border-radius: 7px;
}
.sub:hover{
  
  color:blue;
  background-color: white !important;
  
}
.mainy{
  width:100%;
  margin: 0.5rem;

}
.secTitle .title{
  position:relative;
width:max-content;
margin:1rem auto;
background: rgb(239,239,239);
z-index:2;

}
.secTitle::after{
  position:absolute;
content:"";
background: rgb(240,240,246);
height:5px;
width:120px;
right:0;
bottom:5px;
z-index:-1;
}
.secContent{
justify-content: center;
gap:1.5rem;
display:grid;
grid-template-columns: repeat(4,1fr);

}
.singleDestination{
height:100%;
display:grid;
row-gap: 10px;
padding:1rem;
align-items: center;
border-radius: 10px;
background:rgb(225,225,235);

overflow:hidden;


}
.singleDestination:hover{
background: rgb(255,255,255); 
box-shadow: 0 2px 4px rgba(140,140,141,0.549);
transition:.3s ease;
  }
  .imageDiv{
   height:16rem;
   width:100%;
   overflow: hidden;
     
  }
  .imageDiv img{
    height:100%;
    width:100%;
    
    overflow: hidden;
  }
  .cardInfo h4{
    font-size:1.2rem;
  }
  .single{
    display: grid;
    grid-template-columns: 2.3fr 3fr;
    margin:-0.6rem;
    font-size: 1.2rem;
  }
  .modal-wrapper{
position:fixed;
left:0;
right:0;
bottom:0;
top:0;
background-color: rgba(189,189,189,0.9);

  }
  .modal-container{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
padding:2 rem 5rem;
border-radius: 0.5rem;
background-color: white;
width:35rem;

  }
  .model-btn{
  padding:0.6rem 1.4rem;
  font-size:1.4rem;
  border:none;
border-radius: 0.3rem;
margin-left: 5rem;
background-color: #212121;
color:#fff;
cursor: pointer;
transform:scale(0.8);

  }
  
 
  .newformgroup{
margin-left: 3rem;
margin-top:0.3rem;

  }
  .newformgroupbtn{
    margin-top:0.6rem;
margin-left:8rem;margin-bottom: 0.5rem;

  }
  .model-btn:hover{
background-color:rgb(110, 105, 105);
color: #212121;
border:#212121;
transform: scale(1);
transition:all 0.1s;

  }
  .delct{
    width:300px;
  }
  .del{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .delbtn2{
    margin:auto;
    margin-top:-0.3rem;
    margin-bottom: 0.3rem;
  } 
  .prt{
    display:flex;
    flex-direction: row;
   gap:0.7rem;
  }
  /*showmodal3*/
  .imct{
    display:flex;
    width:27rem;
  }
.imforbut{
  margin-left:40%;
  margin-top:1.2rem;
}
  
  @media only screen and (min-width:1000px) and (max-width:1200px){
  .signup-image{

    width:40rem;
    
  }
  .signup-imagey{

    width:40rem;
    
  }
.im{
  width:35rem;
  margin-left:-4rem;

}
.imy{
  width:40rem;
  margin-left:-5.3rem;

}
.secContent{
  gap:0.4rem;
}
.single .don{
  font-size: 1.04rem;
}
.single .abt{
  font-size: 1.1rem;
}
.imageDiv{
  height:14rem;
}
.eprof{
width:35rem;

}
  }
  @media only screen and (min-width:769px) and (max-width:1000px){
    .signup-image{
  
      width:28rem;
      
    }
  .im{
    width:25rem;
    margin-left:-4rem;
  
  }
  .signup-imagey{
  
    width:28rem;
    
  }
  .imy{
    width:26.5rem;
    margin-left:-4rem;
  
  }
.input input{
  width:10rem;
}
.smallText{
  font-size:1.4rem;
}
.dinp label{
  font-size: 1.2rem;
}
.secContent{
  gap:0.5rem;
   grid-template-columns: repeat(3,1fr);
}
.single .don{
  font-size: 1.06rem;
}
.single .abt{
  font-size: 1.1rem;
}
.gem #lab2{
  margin-left: -0.9rem;
}

.eprof{
  width:35rem;
  
  }
    }
     @media only screen and (min-width:578px) and (max-width:768px){
    .signup-image{
  
      width:0rem;
      
    }
    .signup-imagey{
  
      width:0rem;
      
    }
    select, option {
      width: 12rem;
    }
  .im{
    width:18rem;
    margin-left:-4rem;
  display: none;
  }
  .imy{
    width:18rem;
    margin-left:-4rem; 
  display: none;
  }
  .gem #lab2{
    margin-left: -2rem;
  }

  .form-group{
    grid-template-columns: 1fr 0.7fr;
  }
 .form-groupy{
  margin-left:2rem;
 }
 .ftitley{
  margin-top:-5rem;
  margin-bottom: 6rem;
 }
 .form-groupeu{
  margin-top:1rem;
margin-left:4rem;
 }
 .input input{
  width:21rem;
}
.homeTitle
{
font-size:2.3rem;

}  
.secContent{
  gap:1rem;
   grid-template-columns: repeat(2,1fr);
}
.single .don{
  font-size: 1.15rem;
}
.eprof{
  width:35rem;
  
  }
  
  .imfordiv{
  
    margin-left:2rem;
  }
  .modal-container{
    width:30rem;
  }
  .newformgroup{

    grid-template-columns: 1fr 2fr;
  }
}
    @media only screen and  (max-width:577px){
      .signup-image{
    
        width:0rem;
        
      }
    .im{
       width:18rem;
      margin-left:-4rem; 
    display: none;
    }
    .form-group{
      grid-template-columns: 1.7fr 1fr;
    }
   .form-groupy{
    margin-left:0rem;
   }
  
    .container{
      width: 20rem;
    }
    input{
      width:6rem;
    }
    input[type="file"]{
width:6rem;
    }
    select, option {
      width: 6rem;
     
    }
    #ldate{
      width:6rem;
    }
    #lab2{
      width:8rem;
    }
    #lab{
  margin-right:-1rem;

    }
    #register-form{
      margin-left:2.5rem;
    }
    #signup{
      width: 5rem;
    }
    .signup-imagey{
  
      width:0rem;
      
    }
    .imy{
      width:19rem;
      margin-left:-6rem; 
    display: none;
    }
    .ftitley{
      margin-top:-3rem;
      margin-bottom: 4rem;
     }
     .form-groupeu{
      margin-top:1rem;
margin-left:-1.4rem;
     }
     #signin{
      width:4rem;
     }
     #labl{
      margin-left:-2rem;
     }
     #lab2l{
      margin-left:-1rem;
     }
     .hcontent{
width:18rem;

     }
     .hcontent h1{
      font-size:2rem;
     }
     .homeTitle
{
font-size:1.8rem;

} 
   
   .smallText{
    font-size:1.1rem;
  }  
  .secContent{
    width:23rem;
    margin:auto;
    gap:1rem;
     grid-template-columns: repeat(1,1fr);
  }
  .eprof{
    width:27rem;
    
    }
.phead{
  margin-left:-1rem;
  margin-right:0.3rem;
}
.col3{
  margin-left:-3rem;
  display: flex;
  flex-direction: column;
}
.delbtn{
  width:6rem;
}
.col{
  margin-left:0rem;
}
.cole1{
  margin-left:-1rem;
}
#abtimage{
  width:120px !important;
}
.peditbtn{
  padding:-2rem;
}
.modal-container{
  width:25rem;
}
.newformgroup{

  grid-template-columns: 0.7fr 0.6fr;
  
}
.newformgroup input[type=radio]{
  width:2rem;
  
  }

.prt{
  gap:0;
  flex-direction:column ;
}
.newformgroupbtn button{
  margin-left:0rem;
}
.nf .nf-1 h1{
font-size: 8rem;
  }
  .nf h2{
    font-size: 30px;
  
    font-weight: 500;
    text-transform: uppercase;
    
      }
    
      .nf p{
    
    font-size: 10px;

    font-weight: 200;
  
      }
      .nf a{
        
        font-size:12px;
     padding:10px 20px;
     font-weight: 300;
    
       }
       .imfordiv{
         
        margin-left:2rem;
      }
      .newformgroupyi{
        margin-left:1rem;
      }
      #lab2{
        margin-left: 2rem;
        
      }
      .imforbut{
        margin-left:6rem;
      }
      #lab2{
        width:13rem;
      }
      #lab2 input[type="file"]{
        width:15rem;
      }
      #rowp{
        font-size: 0.9rem;
      }
    }